*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-weight: 300;
font-family: 'Lexend Deca', sans-serif;
    background: hsl(0, 0%, 95%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    align-items: center;
}
.card{
    max-width: 250px;
    height: 330px;
}
.card .wrapper{
    padding: 15px 10px;
    width: 85%;
    margin: 0 auto;
}
.wrapper img{
    margin: 10px;
}
.wrapper p{
    font-size: 15px;
    width: 92%;
    line-height: 1.5;
    color: hsla(0, 0%, 100%, 0.75);
}
.wrapper h3{
    font-weight: 400;
    margin: 10px 0px;
}
.wrapper a{
    text-decoration: none;
    padding: 6px 10px;
    background-color: #fff;
    color: #333;
    border-radius: 40px;
    border: none;
    outline: none;
    display: inline-block;
    margin: 15px;
    transition: 0.3s ease-in-out;
}
.wrapper a:hover{
    background-color: transparent;
    color: #fff;
    border: 2px solid;
}
.card:nth-of-type(1) {
    background-color: hsl(31, 77%, 52%);
    color: #fff;
    border-radius: 6px 0px 0px 6px;
}
.card:nth-of-type(2) {
    background-color: hsl(184, 100%, 22%);
    color: #fff;
}
.card:nth-of-type(3) {
background-color: hsl(179, 100%, 13%);
color: #fff;
border-radius: 0px 6px 6px 0px;
}
.card:nth-of-type(3) p{
    line-height: 1.5;
}

@media(max-width: 750px) {
    .card{
        border-radius: 6px;
    }
    section{
  flex-direction: column;      
    }
    .card:nth-of-type(1){
        border-radius: 6px 6px 0px 0px;
    }
    .card:nth-of-type(2){
        border-radius: 0px;
    }
    .card:nth-of-type(3) {
        border-radius: 0px 0px 6px 6px;
    }
}